/*COLORS USED

rgb(51, 51, 51) - text
#ebebeb - light grey
#5f3dc4 - dark purple
#b197fc - medium purple
#d0bfff - light purple
#e5dbff - lighter purple

*/

body {
    background-color: #ebebeb;
} 

.adminSection {
    width: 80%;
    margin: 100px 10%;
}

.adminOptions {
    border-radius: 15px;
    overflow: hidden;
}

.adminOption {
    display: flex;
    width: 100%;
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 30px 50px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.adminOption h4 {
    margin: 0;
}

.adminOption .button {
    position: absolute;
    right: 50px
}

.expandable {
    background-color: white;
    width: 100%;
    transition: all 0.4s ease;
    max-height: 0px;
    overflow: hidden;
}

.expandable form {
    padding: 0 50px;
}

.expandable input {
    display: block;
    margin: 30px 0;
}

.expandable input[type=number] {
    margin: 5px 0;
}

.expandable.expand {
    max-height: 1000px;
}

.customFileUpload {
    background-color: #b197fc;
    text-align: center;
    line-height: 44px;
    width: 150px;
    height: 44px;
    display: block;
    border-radius: 22px;
    margin-bottom: 20px;
    color:white;
    transition: all 0.2s;
    margin: 20px 0 40px 0;
}

.customFileUpload:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(51, 51, 51);
    outline: 1px solid #5f3dc4;
}

#newProductForm .fileUpload {
    display: none;
    height:100%;
    width: 100%;
}

#newProductForm #dupesField {
    display:none;
}

#newProductForm #dupesField.expand {
    display: block
}

#newProductForm input[type="checkbox"] {
    display: inline-block;
}
#uploadLabel {
    display: block;
}

.resultEntry {
    display: flex;
    align-items: center;
    height: 40px;
    border-top: solid 1px #ebebeb;
}

.resultEntry label {
    width: 20%;
    overflow: visible;
}

.searchResults {
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

