/*COLORS USED

rgb(51, 51, 51) - text
#ebebeb - light grey
#5f3dc4 - dark purple
#b197fc - medium purple
#d0bfff - light purple
#e5dbff - lighter purple

*/

.slideshowContainer {
    position: relative;
}

.featureBadge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #b197fc;
    color: white;
    border-bottom-left-radius: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.slideshowDots {
    text-align: center;
    margin-bottom: 20px;
}

.comparisonLarge {
    margin: 0 0 20px 0;
    border-top: 1px solid #5f3dc4;
    border-bottom: 1px solid #5f3dc4;
    height: 300px;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(216, 216, 216);
    display: flex;
}

.cLProduct {
    width: 35%;
    height: 100%;
    position: relative;
    display: flex;
    margin: 0;
}

.comparisonLarge img {
    height: 260px;
    margin-right: 20px;
}

.cLText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cLText h2 {
    margin: 0;
}

.cLText h3 {
    color:rgb(51, 51, 51);
}

.percentageMatch {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #b197fc;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

.cLMatch {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comparisonRow {
    height: 250px;
    margin-bottom: 75px;
}

.comparisonRow ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comparisonSmall {
    outline: 1px solid #ebebeb;
    color: rgb(51, 51, 51);
    width: 33.33%;
    height: 200px;
    position: relative;
    float: left;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.comparisonSmall:hover {
    transform: scale(1.03);
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(216, 216, 216);
}

.cSImgBox {
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
}

.comparisonSmall img {
    max-height: 40%;
    max-width: 90%;
    padding: 5%;
}

.cSInfo {
    float: left;
    width: 75%;
    height: 100%;
}

.cSInfo h4 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 20%;
}

.cSInfo h4:first-of-type {
    max-width: 90%;
}

.cSInfo li {
    float: left;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.cSInfo li p:first-child {
    width: 30%;
}

.cSPercentageBar {
    width: 40%;
    height: 4px;
    outline: 1px solid #5f3dc4;
    margin: 0 20px;
    border-radius: 2px;
}

.cSPercentageBar div {
    height: 4px;
    background-color: #b197fc;
    margin: 0;
}

.cLOverall {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 50%;
    color: white;
    background-color: #b197fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

