.searchDiv {
    margin: 0 0 50px 0;
    text-align: center;
    width: 100%;
}

#searchBar {
    width: 50%;
    margin: auto;
    font-size: 0;
}

#searchInput {
    width: 75%;
    margin: 0;
    padding: 0 0 0 25px;
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: 1px solid purple;
    border: 0;
    height: 50px;
}

#searchInput:focus {outline:1px solid purple;}

#searchButton {
    width: 20%;
    margin: 0;
    padding: 0 0 0 25px;
    border-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: 1px solid purple;
    border: 0;
    height: 50px;
    text-align: left;
    color: purple;
}

#searchButton:hover {cursor: pointer;}

.comparisonLarge {
    margin: 0 0 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 300px;
    padding: 20px;
}

.comparisonLarge div {
    float: left;
    height: 100%;
}

.cLProduct {
    width: 40%;
}

.comparisonLarge img {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.percentageMatch {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    line-height: 150px;
    color: white;
    font-size: 75px;
}

.cLMatch {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cLPrice {
    
}

.cLName {
    
}

.comparisonRow {
    height: 250px;
    margin-bottom: 50px;
}

.comparisonRowBar {
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    align-items: center;
}

.comparisonRowBar h2 {
    position: absolute;
    left:20px;
}

.comparisonRowBar a {
    position: absolute;
    right: 20px;
}

.comparisonRow ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comparisonSmall {
    outline: 1px solid black;
    width: 33.33%;
    height: 200px;
    position: relative;
    float: left;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.comparisonSmall:hover {
    transform: scale(1.03);
    z-index: 1;
    cursor: pointer;
}

.cSImgBox {
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
}

.comparisonSmall img {
    height: 40%;
    padding: 5%;
}

.cSInfo {
    float: left;
    width: 75%;
    height: 100%;
}

.cSInfo h3 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 20%;
}

.cSInfo li {
    float: left;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.cSInfo li p:first-child {
    width: 30%;
}

.cSPercentageBar {
    width: 40%;
    height: 4px;
    outline: 1px solid black;
    margin: 0 20px;
    border-radius: 2px;
}

.cSPercentageBar div {
    height: 4px;
    background-color: purple;
    margin: 0;
}

.cLOverall {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    margin: 0;
    border-radius: 50%;
    color: white;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

