/*COLORS USED

rgb(51, 51, 51) - text
#ebebeb - light grey
#5f3dc4 - dark purple
#b197fc - medium purple
#d0bfff - light purple
#e5dbff - lighter purple

*/

body {
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51);
}

body {
    margin: 0;
}